<a href="https://colab.research.google.com/github/Muralikrishna444/Data-Engineering-Projects/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc)

In [ ]:
from pyspark.sql.functions import *

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("CSV Reader") \
    .getOrCreate()

In [ ]:
org_df = df

In [ ]:
df = spark.read.csv("/content/drive/MyDrive/Colab Notebooks/accepted_2007_to_2018Q4.csv", header=True, inferSchema=True)

In [ ]:
org_df = df

In [ ]:
df.show(5)

+--------+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+----------+--------------+----------+-------------------+--------+-----------+----------+--------------------+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+---------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+------------------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------+-------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+----------------------+-----------------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+---------------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|installment|grade|sub_grade|           emp_title|emp_length|home_ownership|annual_inc|verification_status| issue_d|loan_status|pymnt_plan|                 url|desc|           purpose|             title|zip_code|addr_state|  dti|delinq_2yrs|earliest_cr_line|fico_range_low|fico_range_high|inq_last_6mths|mths_since_last_delinq|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|total_acc|initial_list_status|out_prncp|out_prncp_inv|       total_pymnt|total_pymnt_inv|total_rec_prncp|total_rec_int|total_rec_late_fee|recoveries|collection_recovery_fee|last_pymnt_d|last_pymnt_amnt|next_pymnt_d|last_credit_pull_d|last_fico_range_high|last_fico_range_low|collections_12_mths_ex_med|mths_since_last_major_derog|policy_code|application_type|annual_inc_joint|dti_joint|verification_status_joint|acc_now_delinq|tot_coll_amt|tot_cur_bal|open_acc_6m|open_act_il|open_il_12m|open_il_24m|mths_since_rcnt_il|total_bal_il|il_util|open_rv_12m|open_rv_24m|max_bal_bc|all_util|total_rev_hi_lim|inq_fi|total_cu_tl|inq_last_12m|acc_open_past_24mths|avg_cur_bal|bc_open_to_buy|bc_util|chargeoff_within_12_mths|delinq_amnt|mo_sin_old_il_acct|mo_sin_old_rev_tl_op|mo_sin_rcnt_rev_tl_op|mo_sin_rcnt_tl|mort_acc|mths_since_recent_bc|mths_since_recent_bc_dlq|mths_since_recent_inq|mths_since_recent_revol_delinq|num_accts_ever_120_pd|num_actv_bc_tl|num_actv_rev_tl|num_bc_sats|num_bc_tl|num_il_tl|num_op_rev_tl|num_rev_accts|num_rev_tl_bal_gt_0|num_sats|num_tl_120dpd_2m|num_tl_30dpd|num_tl_90g_dpd_24m|num_tl_op_past_12m|pct_tl_nvr_dlq|percent_bc_gt_75|pub_rec_bankruptcies|tax_liens|tot_hi_cred_lim|total_bal_ex_mort|total_bc_limit|total_il_high_credit_limit|revol_bal_joint|sec_app_fico_range_low|sec_app_fico_range_high|sec_app_earliest_cr_line|sec_app_inq_last_6mths|sec_app_mort_acc|sec_app_open_acc|sec_app_revol_util|sec_app_open_act_il|sec_app_num_rev_accts|sec_app_chargeoff_within_12_mths|sec_app_collections_12_mths_ex_med|sec_app_mths_since_last_major_derog|hardship_flag|hardship_type|hardship_reason|hardship_status|deferral_term|hardship_amount|hardship_start_date|hardship_end_date|payment_plan_start_date|hardship_length|hardship_dpd|hardship_loan_status|orig_projected_additional_accrued_interest|hardship_payoff_balance_amount|hardship_last_payment_amount|disbursement_method|debt_settlement_flag|debt_settlement_flag_date|settlement_status|settlement_date|settlement_amount|settlement_percentage|settlement_term|
+--------+---------+---------+-----------+---------------+----------+--------+-----------+-----+---------+--------------------+----------+--------------+----------+-------------------+--------+-----------+----------+--------------------+----+------------------+------------------+--------+----------+-----+-----------+----------------+--------------+---------------+--------------+----------------------+----------------------+--------+-------+---------+----------+---------+-------------------+---------+-------------+------------------+---------------+---------------+-------------+------------------+----------+-----------------------+------------+---------------+------------+------------------+--------------------+-------------------+--------------------------+---------------------------+-----------+----------------+----------------+---------+-------------------------+--------------+------------+-----------+-----------+-----------+-----------+-----------+------------------+------------+-------+-----------+-----------+----------+--------+----------------+------+-----------+------------+--------------------+-----------+--------------+-------+------------------------+-----------+------------------+--------------------+---------------------+--------------+--------+--------------------+------------------------+---------------------+------------------------------+---------------------+--------------+---------------+-----------+---------+---------+-------------+-------------+-------------------+--------+----------------+------------+------------------+------------------+--------------+----------------+--------------------+---------+---------------+-----------------+--------------+--------------------------+---------------+----------------------+-----------------------+------------------------+----------------------+----------------+----------------+------------------+-------------------+---------------------+--------------------------------+----------------------------------+-----------------------------------+-------------+-------------+---------------+---------------+-------------+---------------+-------------------+-----------------+-----------------------+---------------+------------+--------------------+------------------------------------------+------------------------------+----------------------------+-------------------+--------------------+-------------------------+-----------------+---------------+-----------------+---------------------+---------------+
|68407277|     NULL|   3600.0|     3600.0|         3600.0| 36 months|   13.99|     123.03|    C|       C4|             leadman| 10+ years|      MORTGAGE|   55000.0|       Not Verified|Dec-2015| Fully Paid|         n|https://lendingcl...|NULL|debt_consolidation|Debt consolidation|   190xx|        PA| 5.91|        0.0|        Aug-2003|         675.0|          679.0|           1.0|                  30.0|                  NULL|     7.0|    0.0|   2765.0|      29.7|     13.0|                  w|      0.0|          0.0| 4421.723916800001|        4421.72|         3600.0|       821.72|               0.0|       0.0|                    0.0|    Jan-2019|         122.67|        NULL|          Mar-2019|               564.0|              560.0|                       0.0|                       30.0|        1.0|      Individual|            NULL|     NULL|                     NULL|           0.0|       722.0|   144904.0|        2.0|        2.0|        0.0|        1.0|              21.0|      4981.0|   36.0|        3.0|        3.0|     722.0|    34.0|          9300.0|   3.0|        1.0|         4.0|                 4.0|    20701.0|        1506.0|   37.2|                     0.0|        0.0|             148.0|               128.0|                  3.0|           3.0|     1.0|                 4.0|                    69.0|                  4.0|                          69.0|                  2.0|           2.0|            4.0|        2.0|      5.0|      3.0|          4.0|          9.0|                4.0|     7.0|             0.0|         0.0|               0.0|               3.0|          76.9|             0.0|                 0.0|      0.0|       178050.0|           7746.0|        2400.0|                   13734.0|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|68355089|     NULL|  24700.0|    24700.0|        24700.0| 36 months|   11.99|     820.28|    C|       C1|            Engineer| 10+ years|      MORTGAGE|   65000.0|       Not Verified|Dec-2015| Fully Paid|         n|https://lendingcl...|NULL|    small_business|          Business|   577xx|        SD|16.06|        1.0|        Dec-1999|         715.0|          719.0|           4.0|                   6.0|                  NULL|    22.0|    0.0|  21470.0|      19.2|     38.0|                  w|      0.0|          0.0|          25679.66|       25679.66|        24700.0|       979.66|               0.0|       0.0|                    0.0|    Jun-2016|         926.35|        NULL|          Mar-2019|               699.0|              695.0|                       0.0|                       NULL|        1.0|      Individual|            NULL|     NULL|                     NULL|           0.0|         0.0|   204396.0|        1.0|        1.0|        0.0|        1.0|              19.0|     18005.0|   73.0|        2.0|        3.0|    6472.0|    29.0|        111800.0|   0.0|        0.0|         6.0|                 4.0|     9733.0|       57830.0|   27.1|                     0.0|        0.0|             113.0|               192.0|                  2.0|           2.0|     4.0|                 2.0|                    NULL|                  0.0|                           6.0|                  0.0|           5.0|            5.0|       13.0|     17.0|      6.0|         20.0|         27.0|                5.0|    22.0|             0.0|         0.0|               0.0|               2.0|          97.4|             7.7|                 0.0|      0.0|       314017.0|          39475.0|       79300.0|                   24667.0|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|68341763|     NULL|  20000.0|    20000.0|        20000.0| 60 months|   10.78|     432.66|    B|       B4|        truck driver| 10+ years|      MORTGAGE|   63000.0|       Not Verified|Dec-2015| Fully Paid|         n|https://lendingcl...|NULL|  home_improvement|              NULL|   605xx|        IL|10.78|        0.0|        Aug-2000|         695.0|          699.0|           0.0|                  NULL|                  NULL|     6.0|    0.0|   7869.0|      56.2|     18.0|                  w|      0.0|          0.0|22705.924293878397|       22705.92|        20000.0|      2705.92|               0.0|       0.0|                    0.0|    Jun-2017|        15813.3|        NULL|          Mar-2019|               704.0|              700.0|                       0.0|                       NULL|        1.0|       Joint App|         71000.0|    13.85|             Not Verified|           0.0|         0.0|   189699.0|        0.0|        1.0|        0.0|        4.0|              19.0|     10827.0|   73.0|        0.0|        2.0|    2081.0|    65.0|         14000.0|   2.0|        5.0|         1.0|                 6.0|    31617.0|        2737.0|   55.9|                     0.0|        0.0|             125.0|               184.0|                 14.0|          14.0|     5.0|               101.0|                    NULL|                 10.0|                          NULL|                  0.0|           2.0|            3.0|        2.0|      4.0|      6.0|          4.0|          7.0|                3.0|     6.0|             0.0|         0.0|               0.0|               0.0|         100.0|            50.0|                 0.0|      0.0|       218418.0|          18696.0|        6200.0|                   14877.0|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|66310712|     NULL|  35000.0|    35000.0|        35000.0| 60 months|   14.85|      829.9|    C|       C5|Information Syste...| 10+ years|      MORTGAGE|  110000.0|    Source Verified|Dec-2015|    Current|         n|https://lendingcl...|NULL|debt_consolidation|Debt consolidation|   076xx|        NJ|17.06|        0.0|        Sep-2008|         785.0|          789.0|           0.0|                  NULL|                  NULL|    13.0|    0.0|   7802.0|      11.6|     17.0|                  w| 15897.65|     15897.65|          31464.01|       31464.01|       19102.35|     12361.66|               0.0|       0.0|                    0.0|    Feb-2019|          829.9|    Apr-2019|          Mar-2019|               679.0|              675.0|                       0.0|                       NULL|        1.0|      Individual|            NULL|     NULL|                     NULL|           0.0|         0.0|   301500.0|        1.0|        1.0|        0.0|        1.0|              23.0|     12609.0|   70.0|        1.0|        1.0|    6987.0|    45.0|         67300.0|   0.0|        1.0|         0.0|                 2.0|    23192.0|       54962.0|   12.1|                     0.0|        0.0|              36.0|                87.0|                  2.0|           2.0|     1.0|                 2.0|                    NULL|                 NULL|                          NULL|                  0.0|           4.0|            5.0|        8.0|     10.0|      2.0|         10.0|         13.0|                5.0|    13.0|             0.0|         0.0|               0.0|               1.0|         100.0|             0.0|                 0.0|      0.0|       381215.0|          52226.0|       62500.0|                   18000.0|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|
|68476807|     NULL|  10400.0|    10400.0|        10400.0| 60 months|   22.45|     289.91|    F|       F1| Contract Specialist|   3 years|      MORTGAGE|  104433.0|    Source Verified|Dec-2015| Fully Paid|         n|https://lendingcl...|NULL|    major_purchase|    Major purchase|   174xx|        PA|25.37|        1.0|        Jun-1998|         695.0|          699.0|           3.0|                  12.0|                  NULL|    12.0|    0.0|  21929.0|      64.5|     35.0|                  w|      0.0|          0.0|           11740.5|        11740.5|        10400.0|       1340.5|               0.0|       0.0|                    0.0|    Jul-2016|       10128.96|        NULL|          Mar-2018|               704.0|              700.0|                       0.0|                       NULL|        1.0|      Individual|            NULL|     NULL|                     NULL|           0.0|         0.0|   331730.0|        1.0|        3.0|        0.0|        3.0|              14.0|     73839.0|   84.0|        4.0|        7.0|    9702.0|    78.0|         34000.0|   2.0|        1.0|         3.0|                10.0|    27644.0|        4567.0|   77.5|                     0.0|        0.0|             128.0|               210.0|                  4.0|           4.0|     6.0|                 4.0|                    12.0|                  1.0|                          12.0|                  0.0|           4.0|            6.0|        5.0|      9.0|     10.0|          7.0|         19.0|                6.0|    12.0|             0.0|         0.0|               0.0|               4.0|          96.6|            60.0|                 0.0|      0.0|       439570.0|          95768.0|       20300.0|                   88097.0|           NULL|                  NULL|                   NULL|                    NULL|                  NULL|            NULL|            NULL|              NULL|               NULL|                 NULL|                            NULL|                              NULL|                               NULL|            N|         NULL|           NULL|           NULL|         NULL|           NULL|               NULL|             NULL|                   NULL|           NULL|        NULL|                NULL|                                      NULL|                          NULL|                        NULL|               Cash|                   N|                     NULL|             NULL|           NULL|             NULL|                 NULL|           NULL|

In [ ]:
df.count(),len(df.columns)

(2260701, 151)

In [ ]:
columns_A7 =["id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term", "int_rate"]             # first method
columns_B7 =["installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc"]
columns_C7 =["verification_status","issue_d","loan_status","pymnt_plan","url","desc", "purpose"]
columns_D7 =["title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line", "fico_range_low"]

In [ ]:
df .select(columns_A7).show(5,False)

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600.0   |3600.0     |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700.0  |24700.0    |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000.0  |20000.0    |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000.0  |35000.0    |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400.0  |10400.0    |10400.0        | 60 months|22.45   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [ ]:
columns_A7 = [i for i in df.columns[0:7]] # second method

In [ ]:
df.select(columns_A7).show(5,False)

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600.0   |3600.0     |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700.0  |24700.0    |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000.0  |20000.0    |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000.0  |35000.0    |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400.0  |10400.0    |10400.0        | 60 months|22.45   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df.select([col(df.columns[i]) for i in range(0,7)]).show(5,False) # third Method

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600.0   |3600.0     |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700.0  |24700.0    |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000.0  |20000.0    |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000.0  |35000.0    |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400.0  |10400.0    |10400.0        | 60 months|22.45   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [ ]:
# Check for missing values

In [ ]:
df.filter(col('id').isNull()).count()

0

In [ ]:
df.filter(col('member_id').isNull()).count()

2260701

In [ ]:
df.filter(col('loan_amnt').isNull()).count()

33

In [ ]:
def check_missing_percent(df,cl):
  a = df.filter(col(cl).isNull()).count()
  b = df.count()
  c = (a/b)*100
  return c

In [ ]:
check_missing_percent(df,'id')

0.0

In [ ]:
check_missing_percent(df,'funded_amnt_inv')

0.0014597242182845054

In [ ]:
# Current santhosh Project using code

In [ ]:
def check_missing_v1(df, lst_cl):
  missing_values = {}
  for i in lst_cl:
    a = df.filter(col(i).isNull()).count()
    missing_values[i] = a
  return ({"missing_values: ":missing_values})

In [ ]:
check_missing_v1(df,columns_A7)

{'missing_values: ': {'id': 0,
  'member_id': 2260701,
  'loan_amnt': 33,
  'funded_amnt': 33,
  'funded_amnt_inv': 33,
  'term': 33,
  'int_rate': 33}}

In [ ]:
check_missing_v1(df,df.columns)

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/usr/local/lib/python3.10/dist-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
def check_missing_percent_v1(df, lst_cl):
  missing_values_less_75 = {}
  missing_values_more_75 = {}                    # We can directly drop it
  b = df.count()
  for i in lst_cl:
    a = df.filter(col(i).isNull()).count()
    c = (a/b)*100
    if c > 75:
      missing_values_less_75[i] = c
  return({"missing_values_more_75":missing_values_more_75, "missing_values_less_75": missing_values_less_75})

In [ ]:
check_missing_percent_v1(df,columns_A7)

{'missing_values_more_75': {}, 'missing_values_less_75': {'member_id': 100.0}}

In [ ]:
def check_duplicates(df,cl):
  a = df.select(cl).distinct().count()
  b = df.count()
  if a == b:
    print("No Duplicates")
  else:
      c = b-a
      print("There are ",c,"Duplicates")

In [ ]:
check_duplicates(df,'id')

No Duplicates

In [ ]:
df.select(columns_A7).show(5,False)

+--------+---------+---------+-----------+---------------+----------+--------+
|id      |member_id|loan_amnt|funded_amnt|funded_amnt_inv|term      |int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|NULL     |3600.0   |3600.0     |3600.0         | 36 months|13.99   |
|68355089|NULL     |24700.0  |24700.0    |24700.0        | 36 months|11.99   |
|68341763|NULL     |20000.0  |20000.0    |20000.0        | 60 months|10.78   |
|66310712|NULL     |35000.0  |35000.0    |35000.0        | 60 months|14.85   |
|68476807|NULL     |10400.0  |10400.0    |10400.0        | 60 months|22.45   |
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 5 rows

In [ ]:
# id ---- no duplicates and no null values
from pyspark.sql.functions import asc
from pyspark.sql.functions import asc, desc

In [ ]:
df.select("id").distinct().orderBy(asc("id")).show(5)

+---------+
|       id|
+---------+
|  1000007|
|100001133|
|100001137|
|100001142|
|100001158|
+---------+
only showing top 5 rows

In [ ]:
df.select("id").distinct().orderBy(desc("id")).show(50, False)

+------------------------------------------------+
|id                                              |
+------------------------------------------------+
|Total amount funded in policy code 2: 873652739 |
|Total amount funded in policy code 2: 823319310 |
|Total amount funded in policy code 2: 820109297 |
|Total amount funded in policy code 2: 81866225  |
|Total amount funded in policy code 2: 737901574 |
|Total amount funded in policy code 2: 662815446 |
|Total amount funded in policy code 2: 651669342 |
|Total amount funded in policy code 2: 620899600 |
|Total amount funded in policy code 2: 608903141 |
|Total amount funded in policy code 2: 567447023 |
|Total amount funded in policy code 2: 564202131 |
|Total amount funded in policy code 2: 521953170 |
|Total amount funded in policy code 2: 520780182 |
|Total amount funded in policy code 2: 511988838 |
|Total amount funded in policy code 2: 1944088810|
|Total amount funded in policy code 2: 0         |
|Total amount funded in policy code 1: 6417608175|
|Total amount funded in policy code 1: 460296150 |
|Total amount funded in policy code 1: 3503840175|
|Total amount funded in policy code 1: 2700702175|
|Total amount funded in policy code 1: 2087217200|
|Total amount funded in policy code 1: 2080429200|
|Total amount funded in policy code 1: 2063142975|
|Total amount funded in policy code 1: 2050909275|
|Total amount funded in policy code 1: 1817354125|
|Total amount funded in policy code 1: 1791201400|
|Total amount funded in policy code 1: 1741781700|
|Total amount funded in policy code 1: 1538432075|
|Total amount funded in policy code 1: 1465324575|
|Total amount funded in policy code 1: 1443412975|
|Total amount funded in policy code 1: 1437969475|
|Total amount funded in policy code 1: 1404586950|
|Loans that do not meet the credit policy        |
|999989                                          |
|999983                                          |
|999981                                          |
|99997759                                        |
|99997746                                        |
|99997737                                        |
|99997727                                        |
|99997705                                        |
|99997697                                        |
|99997693                                        |
|99997686                                        |
|99997680                                        |
|99997670                                        |
|99997602                                        |
|99997598                                        |
|99997566                                        |
|99997505                                        |
+------------------------------------------------+
only showing top 50 rows

In [ ]:
df.select("id").filter(col("id").like("%Total amount funded in policy code%")).count()

32

In [ ]:
print(df.columns)

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [ ]:
df.select(columns_A7).filter(col("id").rlike("%Total amount funded in policy code%")).show(5)

+---+---------+---------+-----------+---------------+----+--------+
| id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+---+---------+---------+-----------+---------------+----+--------+
+---+---------+---------+-----------+---------------+----+--------+

In [ ]:
df.select(columns_A7).filter(col("id").like("%Total amount funded in policy code%")).show(5)

+--------------------+---------+---------+-----------+---------------+----+--------+
|                  id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|term|int_rate|
+--------------------+---------+---------+-----------+---------------+----+--------+
|Total amount fund...|     NULL|     NULL|       NULL|           NULL|NULL|    NULL|
|Total amount fund...|     NULL|     NULL|       NULL|           NULL|NULL|    NULL|
|Total amount fund...|     NULL|     NULL|       NULL|           NULL|NULL|    NULL|
|Total amount fund...|     NULL|     NULL|       NULL|           NULL|NULL|    NULL|
|Total amount fund...|     NULL|     NULL|       NULL|           NULL|NULL|    NULL|
+--------------------+---------+---------+-----------+---------------+----+--------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df = df.select(columns_A7).filter(~col("id").rlike("^[A-Za-z]")).show(10)

AttributeError: 'NoneType' object has no attribute 'select'

In [ ]:
df.count()

AttributeError: 'NoneType' object has no attribute 'count'

In [ ]:
df.select("id").distinct().orderBy(asc("id")).show(50,False)

+---------+
|id       |
+---------+
|1000007  |
|100001133|
|100001137|
|100001142|
|100001158|
|100001163|
|100001282|
|100001303|
|100001310|
|100001318|
|100001345|
|100001348|
|100001349|
|100001365|
|100001465|
|100001468|
|100001498|
|100001532|
|100001541|
|100001557|
|100001562|
|100001598|
|100001621|
|100001623|
|100001629|
|100001633|
|100001665|
|100001671|
|100001723|
|100001756|
|100001760|
|100001829|
|100001835|
|100001844|
|100001896|
|100001941|
|100001958|
|100002082|
|100002090|
|100002096|
|100002110|
|100002159|
|100002176|
|100002183|
|100002200|
|100002262|
|100002294|
|100002301|
|100002318|
|100002345|
+---------+
only showing top 50 rows

In [ ]:
df.select(columns_A7).show(10)

+--------+---------+---------+-----------+---------------+----------+--------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|68407277|     NULL|   3600.0|     3600.0|         3600.0| 36 months|   13.99|
|68355089|     NULL|  24700.0|    24700.0|        24700.0| 36 months|   11.99|
|68341763|     NULL|  20000.0|    20000.0|        20000.0| 60 months|   10.78|
|66310712|     NULL|  35000.0|    35000.0|        35000.0| 60 months|   14.85|
|68476807|     NULL|  10400.0|    10400.0|        10400.0| 60 months|   22.45|
|68426831|     NULL|  11950.0|    11950.0|        11950.0| 36 months|   13.44|
|68476668|     NULL|  20000.0|    20000.0|        20000.0| 36 months|    9.17|
|67275481|     NULL|  20000.0|    20000.0|        20000.0| 36 months|    8.49|
|68466926|     NULL|  10000.0|    10000.0|        10000.0| 36 months|    6.49|
|68616873|     NULL|   8000.0|     8000.0|         8000.0| 36 months|   11.48|
+--------+---------+---------+-----------+---------------+----------+--------+
only showing top 10 rows

In [ ]:
df.select("term").distinct().show(5)

+----------+
|      term|
+----------+
| 36 months|
| 60 months|
|      NULL|
+----------+

In [ ]:
df = df.withColumn("term_in_months", regexp_replace("term", " months", ""))

In [ ]:
df.select("term", "term_in_months").distinct().show(5)

+----------+--------------+
|      term|term_in_months|
+----------+--------------+
| 36 months|            36|
| 60 months|            60|
|      NULL|          NULL|
+----------+--------------+

In [ ]:
df.select(columns_B7).show(10)

+-----------+-----+---------+--------------------+----------+--------------+----------+
|installment|grade|sub_grade|           emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+--------------------+----------+--------------+----------+
|     123.03|    C|       C4|             leadman| 10+ years|      MORTGAGE|   55000.0|
|     820.28|    C|       C1|            Engineer| 10+ years|      MORTGAGE|   65000.0|
|     432.66|    B|       B4|        truck driver| 10+ years|      MORTGAGE|   63000.0|
|      829.9|    C|       C5|Information Syste...| 10+ years|      MORTGAGE|  110000.0|
|     289.91|    F|       F1| Contract Specialist|   3 years|      MORTGAGE|  104433.0|
|     405.18|    C|       C3|Veterinary Tecnician|   4 years|          RENT|   34000.0|
|     637.58|    B|       B2|Vice President of...| 10+ years|      MORTGAGE|  180000.0|
|     631.26|    B|       B1|         road driver| 10+ years|      MORTGAGE|   85000.0|
|     306.45|    A|       A2|     SERVICE MANAGER|   6 years|          RENT|   85000.0|
|     263.74|    B|       B5|      Vendor liaison| 10+ years|      MORTGAGE|   42000.0|
+-----------+-----+---------+--------------------+----------+--------------+----------+
only showing top 10 rows

In [ ]:
df.select("grade").distinct().show(10)

+-----+
|grade|
+-----+
|    F|
|    E|
|    B|
|    D|
|    C|
|    A|
|    G|
| NULL|
+-----+

In [ ]:
df.select("grade").filter(length(col("grade"))>1).show(10)

+-----+
|grade|
+-----+
+-----+

In [ ]:
df.select("sub_grade").distinct().show(10)

+---------+
|sub_grade|
+---------+
|       D5|
|       F2|
|       B4|
|       A2|
|       E4|
|       B2|
|       C3|
|       D1|
|       C4|
|       F1|
+---------+
only showing top 10 rows

In [ ]:
df.select("sub_grade").filter(length(col("sub_grade"))>2).show(10)

+---------+
|sub_grade|
+---------+
+---------+

In [ ]:
df.select("sub_grade").filter(length(col("sub_grade"))<2).show(10)

+---------+
|sub_grade|
+---------+
+---------+

In [ ]:
df.select("emp_title").distinct().show(10)

+--------------------+
|           emp_title|
+--------------------+
|           Physician|
|Systems Administr...|
|           librarian|
|            PAYABLES|
|Client Support Sp...|
|                 CSR|
|          Technitian|
|           machinist|
| Financial assistant|
|           Scientist|
+--------------------+
only showing top 10 rows

In [ ]:
df.select("emp_title").distinct().count()

512695

In [ ]:
df.select("emp_title").distinct().show(20,False)

+------------------------------------+
|emp_title                           |
+------------------------------------+
|Physician                           |
|Systems Administrator II            |
|librarian                           |
|PAYABLES                            |
|Client Support Specialist II        |
|CSR                                 |
|Technitian                          |
|machinist                           |
|Financial assistant                 |
|Scientist                           |
|Digital Marketing Manager           |
|Service Writer                      |
|Risk Manager II                     |
|Vice President, Director of Research|
|Regional sales manager              |
|Tax Collections Supervisor          |
|Park Manager                        |
|Behavior specialist                 |
|Lead organizer                      |
|Journeyman Electrician              |
+------------------------------------+
only showing top 20 rows

In [ ]:
df.select(columns_B7).filter(col("emp_title").isNull()).show(10)

+-----------+-----+---------+---------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+---------+----------+--------------+----------+
|     507.58|    B|       B3|     NULL|      NULL|           OWN|   77900.0|
|      45.97|    A|       A2|     NULL|      NULL|      MORTGAGE|   45000.0|
|     451.73|    A|       A1|     NULL|      NULL|          RENT|   80000.0|
|     777.55|    A|       A4|     NULL|      NULL|      MORTGAGE|  132000.0|
|      82.42|    B|       B5|     NULL|      NULL|          RENT|   16488.0|
|     466.53|    A|       A4|     NULL|      NULL|      MORTGAGE|   45000.0|
|      289.1|    D|       D4|     NULL|      NULL|      MORTGAGE|   33130.0|
|     246.99|    A|       A3|     NULL|      NULL|      MORTGAGE|   45000.0|
|     514.78|    B|       B3|     NULL|      NULL|      MORTGAGE|   99906.0|
|     637.58|    B|       B2|     NULL|   2 years|          RENT|  130000.0|
+-----------+-----+---------+---------+----------+--------------+----------+
only showing top 10 rows

In [ ]:
df.select(columns_B7).filter(col("emp_title").isNull()).count()

167002

In [ ]:
(167002/2260668)*100

7.387285527994381

In [ ]:
df.groupby("emp_title").count().orderBy(desc("count")).show(30,False)

AttributeError: 'NoneType' object has no attribute 'groupby'

In [ ]:
df = df.fillna("Others", subset=["emp_title"])

In [ ]:
df.groupby("emp_title").count().orderBy(desc("count")).show(30,False)

+------------------------+------+
|emp_title               |count |
+------------------------+------+
|Others                  |167002|
|Teacher                 |38824 |
|Manager                 |34298 |
|Owner                   |21977 |
|Registered Nurse        |15867 |
|Driver                  |14753 |
|RN                      |14737 |
|Supervisor              |14297 |
|Sales                   |13050 |
|Project Manager         |10971 |
|Office Manager          |9772  |
|General Manager         |9251  |
|Director                |8934  |
|owner                   |8507  |
|President               |7660  |
|Engineer                |7304  |
|manager                 |7060  |
|teacher                 |6692  |
|Operations Manager      |6128  |
|Vice President          |5874  |
|Accountant              |5596  |
|Sales Manager           |5408  |
|driver                  |5386  |
|Attorney                |5365  |
|Administrative Assistant|5270  |
|Nurse                   |5189  |
|Truck Driver            |4911  |
|Account Manager         |4727  |
|Police Officer          |4572  |
|Technician              |4525  |
+------------------------+------+
only showing top 30 rows

In [ ]:
df.select(columns_B7).filter(col("emp_title").isNull()).count()

0

In [ ]:
df.groupBy("emp_title").count().orderBy(desc("count")).show(30,False)

+------------------------+------+
|emp_title               |count |
+------------------------+------+
|Others                  |167002|
|Teacher                 |38824 |
|Manager                 |34298 |
|Owner                   |21977 |
|Registered Nurse        |15867 |
|Driver                  |14753 |
|RN                      |14737 |
|Supervisor              |14297 |
|Sales                   |13050 |
|Project Manager         |10971 |
|Office Manager          |9772  |
|General Manager         |9251  |
|Director                |8934  |
|owner                   |8507  |
|President               |7660  |
|Engineer                |7304  |
|manager                 |7060  |
|teacher                 |6692  |
|Operations Manager      |6128  |
|Vice President          |5874  |
|Accountant              |5596  |
|Sales Manager           |5408  |
|driver                  |5386  |
|Attorney                |5365  |
|Administrative Assistant|5270  |
|Nurse                   |5189  |
|Truck Driver            |4911  |
|Account Manager         |4727  |
|Police Officer          |4572  |
|Technician              |4525  |
+------------------------+------+
only showing top 30 rows

In [ ]:
df.select("emp_title").distinct().count()

512695

In [ ]:
df.select("emp_length").distinct().show(20,False)

+----------+
|emp_length|
+----------+
|5 years   |
|9 years   |
| reactors"|
|1 year    |
|2 years   |
|7 years   |
|8 years   |
|4 years   |
|6 years   |
|3 years   |
|10+ years |
|< 1 year  |
|NULL      |
+----------+

In [ ]:
df.select(columns_A7).filter(col("emp_length") ==' reactors"').show(5)

+--------+---------+---------+-----------+---------------+----------+--------+
|      id|member_id|loan_amnt|funded_amnt|funded_amnt_inv|      term|int_rate|
+--------+---------+---------+-----------+---------------+----------+--------+
|61400928|     NULL|  10500.0|    10500.0|        10500.0| 60 months|   10.99|
+--------+---------+---------+-----------+---------------+----------+--------+

In [ ]:
df.select(columns_B7).filter(col('emp_length') ==' reactors"').show(5)

+-----------+-----+---------+------------------+----------+--------------+----------+
|installment|grade|sub_grade|         emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+------------------+----------+--------------+----------+
|     228.25|    B|       B4|"Coil Winder ""B""| reactors"|       2 years|  MORTGAGE|
+-----------+-----+---------+------------------+----------+--------------+----------+

In [ ]:
df.select("home_ownership").distinct().show(10)

+--------------+
|home_ownership|
+--------------+
|           OWN|
|          RENT|
|       2 years|
|      MORTGAGE|
|           ANY|
|          NONE|
|         OTHER|
|          NULL|
+--------------+

In [ ]:
df.select("emp_length").distinct().show(20,False)

+----------+
|emp_length|
+----------+
|5 years   |
|9 years   |
| reactors"|
|1 year    |
|2 years   |
|7 years   |
|8 years   |
|4 years   |
|6 years   |
|3 years   |
|10+ years |
|< 1 year  |
|NULL      |
+----------+

In [ ]:
# After correction (adding escape to the csv file link)

In [ ]:
df.select("emp_length").distinct().show(20,False)

+----------+
|emp_length|
+----------+
|5 years   |
|9 years   |
|1 year    |
|2 years   |
|7 years   |
|8 years   |
|4 years   |
|6 years   |
|3 years   |
|10+ years |
|< 1 year  |
|NULL      |
+----------+

In [ ]:
df1.select(columns_A7).filter(col('emp_length') ==' reactors"').show(20, False)

AttributeError: 'NoneType' object has no attribute 'select'

In [ ]:
df.select(columns_B7).filter(col('emp_length') ==' reactors"').show(20, False)

+-----------+-----+---------+---------+----------+--------------+----------+
|installment|grade|sub_grade|emp_title|emp_length|home_ownership|annual_inc|
+-----------+-----+---------+---------+----------+--------------+----------+
+-----------+-----+---------+---------+----------+--------------+----------+