<a href="https://colab.research.google.com/github/Muralikrishna444/Data-Engineering-Projects/blob/main/pyspark_windows_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc)

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [ ]:
data = spark.read.csv("/content/Studentmarks.csv", header = True)

In [ ]:
data.show()

+---+--------+-----+
| ID|    Name|Marks|
+---+--------+-----+
|  1|SANTHOSH|   75|
|  2|   KIRAN|   90|
|  3|   ARJUN|   77|
|  4| KARTHIK|   97|
|  5|   RAJEV|   65|
|  6|   GOPAL|   65|
|  7|   TARUN|   35|
|  8|    DIYA|   99|
+---+--------+-----+

In [ ]:
data.withColumn("rank",rank().over(Window.orderBy(desc("Marks"))) ).show()

+---+--------+-----+----+
| ID|    Name|Marks|rank|
+---+--------+-----+----+
|  8|    DIYA|   99|   1|
|  4| KARTHIK|   97|   2|
|  2|   KIRAN|   90|   3|
|  3|   ARJUN|   77|   4|
|  1|SANTHOSH|   75|   5|
|  5|   RAJEV|   65|   6|
|  6|   GOPAL|   65|   6|
|  7|   TARUN|   35|   8|
+---+--------+-----+----+

In [ ]:
# Another way

In [ ]:
WindowsSpec = Window.orderBy(desc("Marks"))

In [ ]:
data.withColumn("Rank",rank().over(WindowsSpec)).show()

+---+--------+-----+----+
| ID|    Name|Marks|Rank|
+---+--------+-----+----+
|  8|    DIYA|   99|   1|
|  4| KARTHIK|   97|   2|
|  2|   KIRAN|   90|   3|
|  3|   ARJUN|   77|   4|
|  1|SANTHOSH|   75|   5|
|  5|   RAJEV|   65|   6|
|  6|   GOPAL|   65|   6|
|  7|   TARUN|   35|   8|
+---+--------+-----+----+

In [ ]:
abc = Window.orderBy(desc("Marks"))
data.withColumn("Rank",rank().over(WindowsSpec)).show()

+---+--------+-----+----+
| ID|    Name|Marks|Rank|
+---+--------+-----+----+
|  8|    DIYA|   99|   1|
|  4| KARTHIK|   97|   2|
|  2|   KIRAN|   90|   3|
|  3|   ARJUN|   77|   4|
|  1|SANTHOSH|   75|   5|
|  5|   RAJEV|   65|   6|
|  6|   GOPAL|   65|   6|
|  7|   TARUN|   35|   8|
+---+--------+-----+----+

In [ ]:
abc = Window.orderBy(desc("Marks"))
data.withColumn("Rank",dense_rank().over(WindowsSpec)).show()

+---+--------+-----+----+
| ID|    Name|Marks|Rank|
+---+--------+-----+----+
|  8|    DIYA|   99|   1|
|  4| KARTHIK|   97|   2|
|  2|   KIRAN|   90|   3|
|  3|   ARJUN|   77|   4|
|  1|SANTHOSH|   75|   5|
|  5|   RAJEV|   65|   6|
|  6|   GOPAL|   65|   6|
|  7|   TARUN|   35|   7|
+---+--------+-----+----+

In [ ]:
data = data.withColumn("Medium", lit("default_value"))

In [ ]:
abc = Window.partitionBy("Medium").orderBy(desc("Marks"))
data.withColumn("Rank", rank().over(abc)).show(20)

+---+--------+-----+-------------+----+
| ID|    Name|Marks|       Medium|Rank|
+---+--------+-----+-------------+----+
|  8|    DIYA|   99|default_value|   1|
|  4| KARTHIK|   97|default_value|   2|
|  2|   KIRAN|   90|default_value|   3|
|  3|   ARJUN|   77|default_value|   4|
|  1|SANTHOSH|   75|default_value|   5|
|  5|   RAJEV|   65|default_value|   6|
|  6|   GOPAL|   65|default_value|   6|
|  7|   TARUN|   35|default_value|   8|
+---+--------+-----+-------------+----+

In [ ]:
data.withColumn("Rank", rank().over(Window.partitionBy("Medium").orderBy(desc("Marks")))).show(20)

+---+--------+-----+-------------+----+
| ID|    Name|Marks|       Medium|Rank|
+---+--------+-----+-------------+----+
|  8|    DIYA|   99|default_value|   1|
|  4| KARTHIK|   97|default_value|   2|
|  2|   KIRAN|   90|default_value|   3|
|  3|   ARJUN|   77|default_value|   4|
|  1|SANTHOSH|   75|default_value|   5|
|  5|   RAJEV|   65|default_value|   6|
|  6|   GOPAL|   65|default_value|   6|
|  7|   TARUN|   35|default_value|   8|
+---+--------+-----+-------------+----+

In [ ]:
df = spark.read.csv("/content/SalesInfo.csv", header = True, inferSchema = True)

In [ ]:
df.show()

+------+-------+
|C_Year|T_Sales|
+------+-------+
|  2024|  25000|
|  2016|  18000|
|  2017|  23500|
|  2015|  12500|
|  2012|  17500|
|  2013|  15000|
+------+-------+

In [ ]:
df.createOrReplaceTempView("sales_Tb")

In [ ]:
spark.sql("select * from sales_Tb").show()

+------+-------+
|C_Year|T_Sales|
+------+-------+
|  2024|  25000|
|  2016|  18000|
|  2017|  23500|
|  2015|  12500|
|  2012|  17500|
|  2013|  15000|
+------+-------+

In [ ]:
WindowsRes = Window.orderBy("C_Year")
df.withColumn("PY_Sales", lag("T_Sales").over(WindowsRes)).show()

+------+-------+--------+
|C_Year|T_Sales|PY_Sales|
+------+-------+--------+
|  2012|  17500|    NULL|
|  2013|  15000|   17500|
|  2015|  12500|   15000|
|  2016|  18000|   12500|
|  2017|  23500|   18000|
|  2024|  25000|   23500|
+------+-------+--------+

In [ ]:
# Or we can write
df.withColumn("PY_Sales", lag("T_Sales").over(Window.orderBy("C_Year"))).show()

+------+-------+--------+
|C_Year|T_Sales|PY_Sales|
+------+-------+--------+
|  2012|  17500|    NULL|
|  2013|  15000|   17500|
|  2015|  12500|   15000|
|  2016|  18000|   12500|
|  2017|  23500|   18000|
|  2024|  25000|   23500|
+------+-------+--------+

In [ ]:
df1 = df.withColumn("PY_Sales", lag("T_Sales").over(Window.orderBy("C_Year")))

In [ ]:
df1.withColumn("YoY", ((col("T_Sales") - col("PY_Sales"))/col("PY_Sales")* 100)).show()

+------+-------+--------+-------------------+
|C_Year|T_Sales|PY_Sales|                YoY|
+------+-------+--------+-------------------+
|  2012|  17500|    NULL|               NULL|
|  2013|  15000|   17500|-14.285714285714285|
|  2015|  12500|   15000|-16.666666666666664|
|  2016|  18000|   12500|               44.0|
|  2017|  23500|   18000| 30.555555555555557|
|  2024|  25000|   23500|  6.382978723404255|
+------+-------+--------+-------------------+

In [ ]:
df2 = spark.read.csv("/content/SalesInfo2.csv", header = True, inferSchema = True)

In [ ]:
df2.show()

+------+----------+-------+
|C_Year|Department|T_Sales|
+------+----------+-------+
|  2014| Marketing|  25000|
|  2016| Marketing|  18000|
|  2017| Marketing|  23500|
|  2015| Marketing|  12500|
|  2012| Marketing|  17500|
|  2013| Marketing|  15000|
|  2014|     Sales|  24000|
|  2016|     Sales|  21000|
|  2017|     Sales|  19000|
|  2015|     Sales|  17000|
|  2012|     Sales|  13500|
|  2013|     Sales|  12000|
+------+----------+-------+

In [ ]:
df2 = df.withColumn("PY_Sales", lag("T_Sales").over(Window.partitionBy("Department").orderBy("C_Year")))

In [ ]:
df2.show()

+------+----------+-------+--------+
|C_Year|Department|T_Sales|PY_Sales|
+------+----------+-------+--------+
|  2012| Marketing|  17500|    NULL|
|  2013| Marketing|  15000|   17500|
|  2014| Marketing|  25000|   15000|
|  2015| Marketing|  12500|   25000|
|  2016| Marketing|  18000|   12500|
|  2017| Marketing|  23500|   18000|
|  2012|     Sales|  13500|    NULL|
|  2013|     Sales|  12000|   13500|
|  2014|     Sales|  24000|   12000|
|  2015|     Sales|  17000|   24000|
|  2016|     Sales|  21000|   17000|
|  2017|     Sales|  19000|   21000|
+------+----------+-------+--------+