<a href="https://colab.research.google.com/github/Muralikrishna444/Data-Engineering-Projects/blob/main/pyspark_groupby_and_adding_new_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc)

In [ ]:
from pyspark.sql.functions import *

In [ ]:
data = spark.read.csv("/content/Sample - Superstoredata.csv",header = True,inferSchema = True)

In [ ]:
data.show(5)

+------+--------------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------------+----------+-----------+-------+---------------+----------+------------+--------------------+---------+--------+--------+----------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|Customer Name|    Segment|Country/Region|         City|     State|Postal Code| Region|     Product ID|  Category|Sub-Category|        Product Name|    Sales|Quantity|Discount|    Profit|
+------+--------------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------------+----------+-----------+-------+---------------+----------+------------+--------------------+---------+--------+--------+----------+
|  2698|CA-2016-145317| 3/18/2016| 3/23/2016|Standard Class|   SM-20320|  Sean Miller|Home Office| United States| Jacksonville|   Florida|      32216|  South|TEC-MA-10002412|Technology|    Machines|Cisco TelePresenc...| 22638.48|       6|     0.5|-1811.0784|
|  6827|CA-2018-118689| 10/2/2018| 10/9/2018|Standard Class|   TC-20980| Tamara Chand|  Corporate| United States|    Lafayette|   Indiana|      47905|Central|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|  7499.95|       5|       0|  8399.976|
|  8154|CA-2019-140151| 3/23/2019| 3/25/2019|   First Class|   RB-19360| Raymond Buch|   Consumer| United States|      Seattle|Washington|      98115|   West|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|  3999.96|       4|       0| 6719.9808|
|  2624|CA-2019-127180|10/22/2019|10/24/2019|   First Class|   TA-21385| Tom Ashbrook|Home Office| United States|New York City|  New York|      10024|   East|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|11199.968|       4|     0.2| 3919.9888|
|  4191|CA-2019-166709|11/17/2019|11/22/2019|Standard Class|   HL-15040| Hunter Lopez|   Consumer| United States|       Newark|  Delaware|      19711|   East|TEC-CO-10004722|Technology|     Copiers|Canon imageCLASS ...|   499.97|       3|       0| 5039.9856|
+------+--------------+----------+----------+--------------+-----------+-------------+-----------+--------------+-------------+----------+-----------+-------+---------------+----------+------------+--------------------+---------+--------+--------+----------+
only showing top 5 rows

In [ ]:
data.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country/Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

In [ ]:
superstoredata1 = data.select("Segment","Region","Category","Sales","Profit","Quantity")

In [ ]:
superstoredata1.show(5)

+-----------+-------+----------+---------+----------+--------+
|    Segment| Region|  Category|    Sales|    Profit|Quantity|
+-----------+-------+----------+---------+----------+--------+
|Home Office|  South|Technology| 22638.48|-1811.0784|       6|
|  Corporate|Central|Technology|  7499.95|  8399.976|       5|
|   Consumer|   West|Technology|  3999.96| 6719.9808|       4|
|Home Office|   East|Technology|11199.968| 3919.9888|       4|
|   Consumer|   East|Technology|   499.97| 5039.9856|       3|
+-----------+-------+----------+---------+----------+--------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment").agg(sum("Sales")).show(5)

+-----------+------------------+
|    Segment|        sum(Sales)|
+-----------+------------------+
|   Consumer|1130165.7379999778|
|Home Office|425679.16050000064|
|  Corporate| 686604.5137999954|
+-----------+------------------+

In [ ]:
superstoredata1.groupBy("Segment","Region").agg(sum("Sales")).show(5)

+-----------+-------+------------------+
|    Segment| Region|        sum(Sales)|
+-----------+-------+------------------+
|Home Office|   West|134121.58299999963|
|  Corporate|   West|221531.05649999995|
|   Consumer|   West| 347818.7050000013|
|   Consumer|   East|337820.21600000083|
|Home Office|Central| 90750.61399999991|
+-----------+-------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region").agg(sum("Sales"),sum("Profit")).show(5)

+-----------+-------+------------------+------------------+
|    Segment| Region|        sum(Sales)|       sum(Profit)|
+-----------+-------+------------------+------------------+
|Home Office|   West|134121.58299999963| 16222.09459999998|
|  Corporate|   West|221531.05649999995| 33939.59059999996|
|   Consumer|   West| 347818.7050000013| 57142.01630000003|
|   Consumer|   East|337820.21600000083|41338.061199999844|
|Home Office|Central| 90750.61399999991|12427.244999999999|
+-----------+-------+------------------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region").agg(sum("Sales"),avg("Profit")).show(5)

+-----------+-------+------------------+------------------+
|    Segment| Region|        sum(Sales)|       avg(Profit)|
+-----------+-------+------------------+------------------+
|Home Office|   West|134121.58299999963|28.409973029772296|
|  Corporate|   West|221531.05649999995| 35.35374020833329|
|   Consumer|   West| 347818.7050000013| 34.17584706937801|
|   Consumer|   East|337820.21600000083| 28.14027311095973|
|Home Office|Central| 90750.61399999991| 28.37270547945205|
+-----------+-------+------------------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region").agg(sum("Sales").alias("Total_Sales"),avg("Profit")).show(5)

+-----------+-------+------------------+------------------+
|    Segment| Region|       Total_Sales|       avg(Profit)|
+-----------+-------+------------------+------------------+
|Home Office|   West|134121.58299999963|28.409973029772296|
|  Corporate|   West|221531.05649999995| 35.35374020833329|
|   Consumer|   West| 347818.7050000013| 34.17584706937801|
|   Consumer|   East|337820.21600000083| 28.14027311095973|
|Home Office|Central| 90750.61399999991| 28.37270547945205|
+-----------+-------+------------------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region").agg(sum("Sales").alias("Total_Sales"),avg("Profit").alias("Average_Profit")).show(5)

+-----------+-------+------------------+------------------+
|    Segment| Region|       Total_Sales|    Average_Profit|
+-----------+-------+------------------+------------------+
|Home Office|   West|134121.58299999963|28.409973029772296|
|  Corporate|   West|221531.05649999995| 35.35374020833329|
|   Consumer|   West| 347818.7050000013| 34.17584706937801|
|   Consumer|   East|337820.21600000083| 28.14027311095973|
|Home Office|Central| 90750.61399999991| 28.37270547945205|
+-----------+-------+------------------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region")\
.agg(sum("Sales")\
.alias("Total_Sales"))\
.sort(desc("Total_Sales")).show(5)

+---------+-------+------------------+
|  Segment| Region|       Total_Sales|
+---------+-------+------------------+
| Consumer|   West| 347818.7050000013|
| Consumer|   East|337820.21600000083|
| Consumer|Central|249892.13200000004|
|Corporate|   West|221531.05649999995|
|Corporate|   East|        197498.142|
+---------+-------+------------------+
only showing top 5 rows

In [ ]:
superstoredata1.groupBy("Segment","Region")\
.agg(sum("Sales").alias("Total_Sales"),\
    sum("Profit").alias("Total_Profit"),\
     avg("Quantity").alias("Average_Quantity"))\
.filter((col("Average_Quantity")>6)& (col("Segment") == "Corporate"))\
.orderBy(asc("Total_Sales"))\
.show(5)

+---------+------+------------------+------------------+-----------------+
|  Segment|Region|       Total_Sales|      Total_Profit| Average_Quantity|
+---------+------+------------------+------------------+-----------------+
|Corporate|  East|        197498.142|23648.914600000033|7.036721778791334|
|Corporate|  West|221531.05649999995| 33939.59059999996|7.623345188284517|
+---------+------+------------------+------------------+-----------------+

In [ ]:
data = spark.read.csv("/content/Bike_Data1.csv",header = True, inferSchema = True)

In [ ]:
data.show(5)

+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+
|       Region|      Country|            Customer|Business Segment|       Category|               Model| Color|SalesDate|ListPrice|UnitPrice|OrderQty|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+
|North America|United States|Advanced Bike Com...|      Components|    Road Frames|       LL Road Frame|   Red| 4/1/2020|   337.22|   183.94|       1|
|North America|United States|Central Discount ...|           Bikes| Mountain Bikes|        Mountain-100|Silver| 4/1/2020| 3,399.99| 2,039.99|       1|
|North America|United States|Leading Sales & R...|        Clothing|        Jerseys|Long-Sleeve Logo ...| Multi| 4/1/2020|    49.99|    28.84|       6|
|North America|United States|        Paint Supply|      Components|Mountain Frames|   HL Mountain Frame| Black| 4/1/2020| 1,349.60|    714.7|       2|
|North America|United States|Scooters and Bike...|           Bikes|     Road Bikes|            Road-450|   Red| 4/1/2020| 1,457.99|   874.79|       2|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+
only showing top 5 rows

In [ ]:
data.columns

['Region',
 'Country',
 'Customer',
 'Business Segment',
 'Category',
 'Model',
 'Color',
 'SalesDate',
 'ListPrice',
 'UnitPrice',
 'OrderQty']

In [ ]:
data.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Business Segment: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- SalesDate: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- OrderQty: integer (nullable = true)

In [ ]:
data.show(5, False)

+-------------+-------------+------------------------+----------------+---------------+-----------------------+------+---------+---------+---------+--------+
|Region       |Country      |Customer                |Business Segment|Category       |Model                  |Color |SalesDate|ListPrice|UnitPrice|OrderQty|
+-------------+-------------+------------------------+----------------+---------------+-----------------------+------+---------+---------+---------+--------+
|North America|United States|Advanced Bike Components|Components      |Road Frames    |LL Road Frame          |Red   |4/1/2020 |337.22   |183.94   |1       |
|North America|United States|Central Discount Store  |Bikes           |Mountain Bikes |Mountain-100           |Silver|4/1/2020 |3,399.99 |2,039.99 |1       |
|North America|United States|Leading Sales & Repair  |Clothing        |Jerseys        |Long-Sleeve Logo Jersey|Multi |4/1/2020 |49.99    |28.84    |6       |
|North America|United States|Paint Supply            |Components      |Mountain Frames|HL Mountain Frame      |Black |4/1/2020 |1,349.60 |714.7    |2       |
|North America|United States|Scooters and Bikes Store|Bikes           |Road Bikes     |Road-450               |Red   |4/1/2020 |1,457.99 |874.79   |2       |
+-------------+-------------+------------------------+----------------+---------------+-----------------------+------+---------+---------+---------+--------+
only showing top 5 rows

In [ ]:
data = data.withColumn("Sales", col("ListPrice") * col("OrderQty"))
# dat["Sales"] = data["ListPrice"] * data["OrderQty"] # In Pandas

In [ ]:
data.show(5)

+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+
|       Region|      Country|            Customer|Business Segment|       Category|               Model| Color|SalesDate|ListPrice|UnitPrice|OrderQty| Sales|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+
|North America|United States|Advanced Bike Com...|      Components|    Road Frames|       LL Road Frame|   Red| 4/1/2020|   337.22|   183.94|       1|337.22|
|North America|United States|Central Discount ...|           Bikes| Mountain Bikes|        Mountain-100|Silver| 4/1/2020| 3,399.99| 2,039.99|       1|  NULL|
|North America|United States|Leading Sales & R...|        Clothing|        Jerseys|Long-Sleeve Logo ...| Multi| 4/1/2020|    49.99|    28.84|       6|299.94|
|North America|United States|        Paint Supply|      Components|Mountain Frames|   HL Mountain Frame| Black| 4/1/2020| 1,349.60|    714.7|       2|  NULL|
|North America|United States|Scooters and Bike...|           Bikes|     Road Bikes|            Road-450|   Red| 4/1/2020| 1,457.99|   874.79|       2|  NULL|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+
only showing top 5 rows

In [ ]:
data = data.withColumn("Cost", col("UnitPrice") * col("OrderQty"))
data = data.withColumn("Profit", col("Sales") - col("Cost"))

In [ ]:
data.show(5)

+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+-------+------------------+
|       Region|      Country|            Customer|Business Segment|       Category|               Model| Color|SalesDate|ListPrice|UnitPrice|OrderQty| Sales|   Cost|            Profit|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+-------+------------------+
|North America|United States|Advanced Bike Com...|      Components|    Road Frames|       LL Road Frame|   Red| 4/1/2020|   337.22|   183.94|       1|337.22| 183.94|153.28000000000003|
|North America|United States|Central Discount ...|           Bikes| Mountain Bikes|        Mountain-100|Silver| 4/1/2020| 3,399.99| 2,039.99|       1|  NULL|   NULL|              NULL|
|North America|United States|Leading Sales & R...|        Clothing|        Jerseys|Long-Sleeve Logo ...| Multi| 4/1/2020|    49.99|    28.84|       6|299.94| 173.04|             126.9|
|North America|United States|        Paint Supply|      Components|Mountain Frames|   HL Mountain Frame| Black| 4/1/2020| 1,349.60|    714.7|       2|  NULL| 1429.4|              NULL|
|North America|United States|Scooters and Bike...|           Bikes|     Road Bikes|            Road-450|   Red| 4/1/2020| 1,457.99|   874.79|       2|  NULL|1749.58|              NULL|
+-------------+-------------+--------------------+----------------+---------------+--------------------+------+---------+---------+---------+--------+------+-------+------------------+
only showing top 5 rows

In [ ]:
order = spark.read.csv("/content/Orders_Data1.csv",header = True)

In [ ]:
order.show()

+---+----------+----+------+
|OID|      Date|C_ID|Amount|
+---+----------+----+------+
|102| 10/8/2009|   3|  3000|
|100| 10/8/2009|   3|  1500|
|101|11/20/2009|   2|  1560|
|103| 5/20/2008|   4|  2060|
|199| 5/20/2008|NULL|  1253|
+---+----------+----+------+

In [ ]:
cust = spark.read.csv("/content/Custumer_Data1.csv",header = True)

In [ ]:
cust.show()

+---+--------+---+----------+----------+
| ID|    Name|Age|   Address|Wallet Bal|
+---+--------+---+----------+----------+
|  1|  Ramesh| 32|Ahmedabad |       200|
|  2|  Khilan| 23|Delhi     |      7500|
|  3| kaushik| 25|Kota      |     12000|
|  4|Chaitali| 22|Mumbai    |      6500|
|  5|  Hardik| 27|Bhopal    |       600|
|  6|   Komal| 26|MP        |       750|
|  7|   Muffy| 27|Indore    |       500|
+---+--------+---+----------+----------+

In [ ]:
# Experiments with joins (inner,left,right,full,self)

In [ ]:
# 1. only joins
# 2. joins with selected columns
# 3. joins with filters
# 4. joins with selected columns and filters
# 5. add on ---> sorting/renaming to above
# Pandas -----> pd.merge(cust, order, left_on = "ID", right_on = "C_ID", how = "inner")

In [ ]:
cust.join(order, cust['ID'] == order["C_ID"], "inner").show()

+---+--------+---+----------+----------+---+----------+----+------+
| ID|    Name|Age|   Address|Wallet Bal|OID|      Date|C_ID|Amount|
+---+--------+---+----------+----------+---+----------+----+------+
|  2|  Khilan| 23|Delhi     |      7500|101|11/20/2009|   2|  1560|
|  3| kaushik| 25|Kota      |     12000|100| 10/8/2009|   3|  1500|
|  3| kaushik| 25|Kota      |     12000|102| 10/8/2009|   3|  3000|
|  4|Chaitali| 22|Mumbai    |      6500|103| 5/20/2008|   4|  2060|
+---+--------+---+----------+----------+---+----------+----+------+

In [ ]:
cust.join(order, cust['ID'] == order["C_ID"], "left").show()

+---+--------+---+----------+----------+----+----------+----+------+
| ID|    Name|Age|   Address|Wallet Bal| OID|      Date|C_ID|Amount|
+---+--------+---+----------+----------+----+----------+----+------+
|  1|  Ramesh| 32|Ahmedabad |       200|NULL|      NULL|NULL|  NULL|
|  2|  Khilan| 23|Delhi     |      7500| 101|11/20/2009|   2|  1560|
|  3| kaushik| 25|Kota      |     12000| 100| 10/8/2009|   3|  1500|
|  3| kaushik| 25|Kota      |     12000| 102| 10/8/2009|   3|  3000|
|  4|Chaitali| 22|Mumbai    |      6500| 103| 5/20/2008|   4|  2060|
|  5|  Hardik| 27|Bhopal    |       600|NULL|      NULL|NULL|  NULL|
|  6|   Komal| 26|MP        |       750|NULL|      NULL|NULL|  NULL|
|  7|   Muffy| 27|Indore    |       500|NULL|      NULL|NULL|  NULL|
+---+--------+---+----------+----------+----+----------+----+------+

In [ ]:
cust.join(order, cust['ID'] == order['C_ID'], "left").select("ID","Name","Address","Date").show()

+---+--------+----------+----------+
| ID|    Name|   Address|      Date|
+---+--------+----------+----------+
|  1|  Ramesh|Ahmedabad |      NULL|
|  2|  Khilan|Delhi     |11/20/2009|
|  3| kaushik|Kota      | 10/8/2009|
|  3| kaushik|Kota      | 10/8/2009|
|  4|Chaitali|Mumbai    | 5/20/2008|
|  5|  Hardik|Bhopal    |      NULL|
|  6|   Komal|MP        |      NULL|
|  7|   Muffy|Indore    |      NULL|
+---+--------+----------+----------+

In [ ]:
cust.join(order, cust['ID'] == order['C_ID'], "Right").show()

+----+--------+----+----------+----------+---+----------+----+------+
|  ID|    Name| Age|   Address|Wallet Bal|OID|      Date|C_ID|Amount|
+----+--------+----+----------+----------+---+----------+----+------+
|   3| kaushik|  25|Kota      |     12000|102| 10/8/2009|   3|  3000|
|   3| kaushik|  25|Kota      |     12000|100| 10/8/2009|   3|  1500|
|   2|  Khilan|  23|Delhi     |      7500|101|11/20/2009|   2|  1560|
|   4|Chaitali|  22|Mumbai    |      6500|103| 5/20/2008|   4|  2060|
|NULL|    NULL|NULL|      NULL|      NULL|199| 5/20/2008|NULL|  1253|
+----+--------+----+----------+----------+---+----------+----+------+

In [ ]:
cust.join(order, cust['ID'] == order['C_ID'], "left").select(cust["ID"], cust["Name"], cust["Address"], order["Date"]).show()

+---+--------+----------+----------+
| ID|    Name|   Address|      Date|
+---+--------+----------+----------+
|  1|  Ramesh|Ahmedabad |      NULL|
|  2|  Khilan|Delhi     |11/20/2009|
|  3| kaushik|Kota      | 10/8/2009|
|  3| kaushik|Kota      | 10/8/2009|
|  4|Chaitali|Mumbai    | 5/20/2008|
|  5|  Hardik|Bhopal    |      NULL|
|  6|   Komal|MP        |      NULL|
|  7|   Muffy|Indore    |      NULL|
+---+--------+----------+----------+

In [ ]:
cust.join(order, cust['ID'] == order['C_ID'], "left").filter(col("Name") == "kaushik").show()

+---+-------+---+----------+----------+---+---------+----+------+
| ID|   Name|Age|   Address|Wallet Bal|OID|     Date|C_ID|Amount|
+---+-------+---+----------+----------+---+---------+----+------+
|  3|kaushik| 25|Kota      |     12000|100|10/8/2009|   3|  1500|
|  3|kaushik| 25|Kota      |     12000|102|10/8/2009|   3|  3000|
+---+-------+---+----------+----------+---+---------+----+------+

In [ ]:
cust.join(order, cust["ID"] == order["C_ID"],"left").filter(col("Age") == 22).show()

+---+--------+---+----------+----------+---+---------+----+------+
| ID|    Name|Age|   Address|Wallet Bal|OID|     Date|C_ID|Amount|
+---+--------+---+----------+----------+---+---------+----+------+
|  4|Chaitali| 22|Mumbai    |      6500|103|5/20/2008|   4|  2060|
+---+--------+---+----------+----------+---+---------+----+------+

In [ ]:
cust.join(order, cust["ID"] == order["C_ID"], "left")\
.filter(col("Name") == "kaushik")\
.select('ID','Name','Address','Date').show()

+---+-------+----------+---------+
| ID|   Name|   Address|     Date|
+---+-------+----------+---------+
|  3|kaushik|Kota      |10/8/2009|
|  3|kaushik|Kota      |10/8/2009|
+---+-------+----------+---------+

In [ ]:
cust.join(order, cust["ID"] == order["C_ID"], "left")\
.select('ID','Name','Address','Wallet Bal')\
.orderBy(desc("Wallet Bal")).show()

+---+--------+----------+----------+
| ID|    Name|   Address|Wallet Bal|
+---+--------+----------+----------+
|  2|  Khilan|Delhi     |      7500|
|  6|   Komal|MP        |       750|
|  4|Chaitali|Mumbai    |      6500|
|  5|  Hardik|Bhopal    |       600|
|  7|   Muffy|Indore    |       500|
|  1|  Ramesh|Ahmedabad |       200|
|  3| kaushik|Kota      |     12000|
|  3| kaushik|Kota      |     12000|
+---+--------+----------+----------+

In [ ]:
cust.join(order, cust["ID"] == order["C_ID"], "left")\
.select('ID','Name','Address','Wallet Bal')\
.orderBy(asc("Wallet Bal")).show()

+---+--------+----------+----------+
| ID|    Name|   Address|Wallet Bal|
+---+--------+----------+----------+
|  3| kaushik|Kota      |     12000|
|  3| kaushik|Kota      |     12000|
|  1|  Ramesh|Ahmedabad |       200|
|  7|   Muffy|Indore    |       500|
|  5|  Hardik|Bhopal    |       600|
|  4|Chaitali|Mumbai    |      6500|
|  6|   Komal|MP        |       750|
|  2|  Khilan|Delhi     |      7500|
+---+--------+----------+----------+

In [ ]:
cust.join(order, cust["ID"] == order["C_ID"], "left")\
.select("ID","Name","Address",col("Date").alias("Order_date"),col("Wallet Bal").alias("Wall_bal"))\
.orderBy(asc("Wallet Bal")).show()

NameError: name 'cust' is not defined

In [ ]:
emp = spark.read.csv("/content/empcsvdata.csv",header = True, inferSchema = True)

In [ ]:
training = spark.read.csv("/content/Emp_Training_Datacsv.csv",header = True, inferSchema = True)

In [ ]:
emp.show(5)

+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
|EmployeeID|Manager ID|           Title|MaritalStatus|Gender|      HireDate|          Dept|Salary| Job Grade|
+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
|         1|        16|  Gustavo Achong|            M|     M| 2/2/2013 0:00|         Sales|  2295|     Admin|
|         2|        12|  Catherine Abel|            S|     M|8/31/2013 0:00|         Sales|   962|Management|
|         3|         3| Kim Abercrombie|            M|     M|6/16/2014 0:00|       Finance|  4006|     Admin|
|         4|         6|Humberto Acevedo|            S|     M|7/10/2014 0:00|     Logistics|  4547|     Admin|
|         5|        56|  Pilar Ackerman|            M|     M|7/16/2014 0:00|Human Resource|  1932|     Admin|
+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
only showing top 5 rows

In [ ]:
training.show(5)

+----------+-----------+--------------------+-----------+----+--------------------+
|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+-----------+--------------------+-----------+----+--------------------+
| 9/18/2015|          1|Communication Wor...|          1|1300|Communication Exp...|
| 9/18/2015|          1|Communication Wor...|          4|1300|Communication Exp...|
| 9/18/2015|          1|Communication Wor...|         25|1300|Communication Exp...|
| 9/18/2015|          1|Communication Wor...|         33|1300|Communication Exp...|
| 9/18/2015|          1|Communication Wor...|         44|1300|Communication Exp...|
+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 5 rows

In [ ]:
emp.join(training, emp["EmployeeID"] == training["Employee ID"], "inner")\
.groupBy("Title")\
.agg(count("Course Code").alias("Total_courses"))\
.orderBy(desc("Total_courses"))\
.show(6)

+----------------+-------------+
|           Title|Total_courses|
+----------------+-------------+
|   James Aguilar|           27|
|François Ferrier|           19|
|   Cecil Allison|           18|
|  Maxwell Amland|           16|
|       John Ault|           14|
|  Kyley Arbelaez|           14|
+----------------+-------------+
only showing top 6 rows

In [ ]:
emp.join(training, emp["EmployeeID"] == training["Employee ID"], "inner")\
.groupBy("Title")\
.agg(sum("Cost").alias("Total_Cost"))\
.orderBy(desc("Total_Cost"))\
.show(6)

+----------------+----------+
|           Title|Total_Cost|
+----------------+----------+
|   James Aguilar|     47850|
|François Ferrier|     38150|
|   Cecil Allison|     36000|
|   Frances Adams|     31500|
|Gregory Alderson|     29400|
|  Kyley Arbelaez|     29300|
+----------------+----------+
only showing top 6 rows

In [ ]:
emp.join(training, emp["EmployeeID"] == training["Employee ID"], "inner")\
.groupBy("Title")\
.agg(sum("Cost").alias("Total_Cost"))\
.filter(col("Total_Cost") > 30000)\
.orderBy(desc("Total_Cost"))\
.show(6)

+----------------+----------+
|           Title|Total_Cost|
+----------------+----------+
|   James Aguilar|     47850|
|François Ferrier|     38150|
|   Cecil Allison|     36000|
|   Frances Adams|     31500|
+----------------+----------+

In [ ]:
df = emp.join(training, emp["EmployeeID"] == training["Employee ID"], "inner")

In [ ]:
df.groupBy("Title")\
.agg(sum("Cost").alias("Total_Cost"))\
.filter(col("Total_Cost") > 30000)\
.orderBy(desc("Total_Cost"))\
.show(6)

+----------------+----------+
|           Title|Total_Cost|
+----------------+----------+
|   James Aguilar|     47850|
|François Ferrier|     38150|
|   Cecil Allison|     36000|
|   Frances Adams|     31500|
+----------------+----------+

In [ ]:
# inner join

In [ ]:
emp.show(6)

+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
|EmployeeID|Manager ID|           Title|MaritalStatus|Gender|      HireDate|          Dept|Salary| Job Grade|
+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
|         1|        16|  Gustavo Achong|            M|     M| 2/2/2013 0:00|         Sales|  2295|     Admin|
|         2|        12|  Catherine Abel|            S|     M|8/31/2013 0:00|         Sales|   962|Management|
|         3|         3| Kim Abercrombie|            M|     M|6/16/2014 0:00|       Finance|  4006|     Admin|
|         4|         6|Humberto Acevedo|            S|     M|7/10/2014 0:00|     Logistics|  4547|     Admin|
|         5|        56|  Pilar Ackerman|            M|     M|7/16/2014 0:00|Human Resource|  1932|     Admin|
|         6|         3|   Frances Adams|            S|     M|7/25/2014 0:00|         Sales|  NULL|Management|
+----------+----------+----------------+-------------+------+--------------+--------------+------+----------+
only showing top 6 rows

In [ ]:
emp.alias('emp').join(emp.alias('mgr'), col('emp.Manager ID') == col('mgr.EmployeeID'), 'left')\
.select(col("emp.Title").alias("EmployeeName"), col("mgr.Title").alias("ManagerName"))\
.show(5)

+----------------+---------------+
|    EmployeeName|    ManagerName|
+----------------+---------------+
|  Gustavo Achong|   Lili Alameda|
|  Catherine Abel|  James Aguilar|
| Kim Abercrombie|Kim Abercrombie|
|Humberto Acevedo|  Frances Adams|
|  Pilar Ackerman|           NULL|
+----------------+---------------+
only showing top 5 rows